@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 204 60% 98%;
        --foreground: 204 70% 4%;
        --muted: 204 21% 89%;
        --muted-foreground: 204 15% 40%;
        --popover: 204 60% 98%;
        --popover-foreground: 204 70% 4%;
        --card: 204 60% 97%;
        --card-foreground: 204 70% 3%;
        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --primary: 204 98% 31%;
        --primary-lighter: 204 98% 35%;
        --primary-foreground: 0 0% 100%;
        --secondary: 204 4% 92%;
        --secondary-foreground: 204 4% 32%;
        --accent: 204 13% 83%;
        --accent-foreground: 204 13% 23%;
        --destructive: 15 88% 42%;
        --destructive-foreground: 0 0% 100%;
        --ring: 204 98% 31%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 229 33% 10%;
        --foreground: 230 24% 80%;
        --muted: 229 12% 15%;
        --muted-foreground: 229 12% 65%;
        --popover: 229 33% 7%;
        --popover-foreground: 230 24% 90%;
        --card: 229 33% 8%;
        --card-foreground: 230 24% 85%;
        --border: 229 23% 15%;
        --input: 229 23% 18%;
        --primary: 217 64% 73%;
        --primary-lighter: 217 64% 80%;
        --primary-foreground: 217 64% 13%;
        --secondary: 217 30% 25%;
        --secondary-foreground: 217 30% 85%;
        --accent: 229 33% 25%;
        --accent-foreground: 229 33% 85%;
        --destructive: 1 88% 58%;
        --destructive-foreground: 0 0% 100%;
        --ring: 217 64% 73%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

html *::-webkit-scrollbar {
    width: 13px;
    height: 13px;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    position: absolute;
}

html *::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: Silver;
}
